{{#if currentUser}}
    <p style ="word-wrap: break-word; margin: 0; font-size:17px"> {{walletData}} </p>
    <h2>Check your account or send a transaction</h2> 
{{else}}
 <h2>Please create or log in in your wallet.</h2>
{{/if}}