<h2>Open an existing wallet</h2>
<form action="login" method="POST">
    <label>Password:</label>
    <input type="password" name="password">
    <label>Enter your private key:</label>
    <textarea class="username" name="username">{{walletData}}</textarea>
    <input type="submit" value="Open your wallet">
</form>
