{{#if info}}
<h2  style = "color:white; font-size: 50px; float: none">
    {{info}}
</h2>
{{else}}
                <h2><a href="/mine" style = "color:white; font-size: 50px; float: none; text-decoration: underline">Start mining - click here</a></h4>

{{/ if}}