<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blockchain miner</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<div id="notifications">
    <div id="infoBox" class="notification">
        <span>Info</span>
    </div>
</div>


<body>
    <div>
        <aside>
            <nav>
                <a href="/mine">Mine!</a>
                <a href="http://localhost:3003">Check status of the blockchain</a>
            </nav>
        </aside>
        <div id="container">
            <main>
                <h1>Welcome to our blockchain!</h1>
                {{{body}}}
            </main>
            <footer>
                SoftUni educational blockchain &copy; 2018
            </footer>
        </div>
    </div>
</body>

</html>